
# compiled output
/dist
/node_modules
/build

# Next.js build output
/.next/
/out/

# Vercel deployment
.vercel

# frontend
/vehicle-alert.frontend/node_modules
/vehicle-alert.frontend/dist
/vehicle-alert.frontend/build
/vehicle-alert.frontend/.next

# backend
/vehicle-alert.backend/node_modules
/vehicle-alert.backend/dist
/vehicle-alert.backend/build
/vehicle-alert.backend/.next


# Yarn and PnP
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# TypeScript build info and Next.js env
*.tsbuildinfo
next-env.d.ts

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

# Tests
/coverage
/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# temp directory
.temp
.tmp

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
